@import url('https://fonts.googleapis.com/css2family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet');
body
	{background-color: #FFFFFF;}
table, th, td
	{border: 1px soild black;
	border-collapse: collapse;}
nav
	{width: 100%;
	padding: 2rem 5rem 2rem 5rem;
	display: flex;
	align-items: center;
	justify-content: space-between;}
ul
	{list-style: none;
	display: flex;
	gap: 3rem;}
li a
	{color: #000000;
	font-size: 18px;
	font-weight: 600;
	text-decoration: none;
	border-radius: 25px;
	padding: 10px 15px;
	trasition: 0.6s;}
li a:hover
	{background-color: #F8F8F8;}
.active
	{background-color: var(--text-color--);}
button
	{border: 2px soild var(back-up-color--);
	background: transparent;
	border-radius: 5px;
	padding: 10px 15px;
	font-size: 18px;
	font-weight: 600;
	color: var(--back-up-color--);
	cursor: pointer;
	transition: 0.6s;}
button:hover
	background-color: var(--back-up-color--);
	color: #000000;}
/* hero content */

.home-content
	{padding: 2rem 5rem 2rem 5rem;
	display: flex;
	align-items: center;
	height: 70vh;}

.home-container
	{align-items: center;
	width: 600px;}

.home-container h1
	{color: #000000;
	font-size: 5rem;
	padding-bottom: 30px;}

.home-container p
	{color: #000000;
	font-size: 5rem;
	padding-bottom: 20px;}

.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  max-width: 300px;
  margin: auto;
  text-align: center;
  font-family: arial;
}

.price {
  color: grey;
  font-size: 22px;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
}

.card button:hover {
  opacity: 0.7;
}